<form name="form" method="post" enctype="multipart/form-data" data-np-intersection-state="visible" data-np-autofill-form-type="other" data-np-checked="1" data-np-watching="1">
    <div class="p-4 flex items-center border-t border-gray-700">
        <div class="mr-4"><label class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full required" for="form_file">Upload file</label><input type="file" id="form_file" name="form[file]" required="required" class="hidden"></div>
        <div class="flex-1 mr-4"><input type="text" id="form_message" name="form[message]" required="required" class="w-full appearance-none rounded-full border border-gray-700 py-2 px-3 focus:outline-none focus:border-blue-500 bg-gray-700" placeholder="Type your message..." data-np-intersection-state="observed"></div>
        <div><button type="submit" id="form_send" name="form[send]" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full">Send</button></div>
    </div>
</form>
